body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.navbar-inner {
    height: 6em;
    padding-top: 3em;
    background-image: none;
    background-color: aliceblue !important;
    border: none;
}
/*nav
      background-color: #83b5c1 !important;
      padding-top:3em
      height:3em
      */